<div class="row mb-5" *ngIf="artist" [@flyInOut]="'in'">
    <div class="col">
        <div class="card detailed-card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-12 col-sm mb-3 mb-sm-0">
                        <h2>{{artist.name}}</h2>
                        <span class="border-bottom"><strong>{{artist.nb_fan}}</strong> fans</span>
                    </div>
                    <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                        <img src="{{artist.picture_big}}" alt="{{artist.name}}" class="img-fluid">
                    </div>
                    <div class="col-12 col-sm-4 mb-3 mb-sm-0" *ngIf="topTracks">
                        <h3>Top track</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" *ngFor="let track of topTracks">{{ track.album.title }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col">
                <h3>Albums</h3>
            </div>
        </div>
        <div class="row" @pageAnimations *ngIf="albums">
            <div class="col-12 col-sm-4 col-md-3 mb-4 album" *ngFor="let res of albums">
                <div class="card h-100">
                    <div class="card-body">
                        <img src="{{ res.cover_big }}" alt="{{res.title}}" class="img-fluid mb-3">
                        <h6>{{res.title}}</h6>
                        <span><small>{{res.release_date}}</small></span>
                    </div>
                </div>
            </div>
            <div class="col" *ngIf="noAlbums">
                <div class="album">
                    <p>No albums found</p>
                </div>
            </div>
        </div>

    </div>
</div>
